*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    --primary: #323AC0;
    --text: #252728;
    --headline: #1A1E1F;
    --gray-text: #6D7679;
    --white: #FFF;
    --background: #F8F8FF;
    --gray-dark: #9BA2A4;
    --gray-light: #F3F3F4;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.share-btn{
    border-radius: 50%;
    appearance: none;
    padding: 1rem;
    color: var(--primary);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(149, 157, 165, 0.2) 0px 3px 6px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: var(--white);
    border: none;
}