<IfModule mod_rewrite.c>
    Options -Multiviews                         
    RewriteEngine On                            
    RewriteBase /Recursos-para-Projetos-Web/Modal-elemento-de-dialogo/public      
    RewriteCond %{REQUEST_FILENAME} !-d         
    RewriteCond %{REQUEST_FILENAME} !-f         
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>